{% extends "layout.html" %}
{% block body %}


{% with messages = get_flashed_messages(with_categories=true) %}
{%if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- Todo: Fetch it using for loop from the database -->
{% for post in posts %}
<div class="card" style="width: 18rem;">
  <img src='{{post.img_file}}' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h5 class="card-subtitle">{{ post.subtitle }}
    </h5>
    <p class="card-text"> {{post.content}}</p>
    <p class="post-meta">Posted by
      <a>Anonymous</a>
      on{{post.date}}</p>
    <a href="/post/{{post.slug}}" class="btn btn-primary">View</a>
  </div>
</div>

{% endfor %}
{% endblock %}